
*.class
# Package Files #
*.jar
*.war
*.ear

libs/steam/*
*.sdf
*.user
*.filters
*.exp
*.lib
*.pdb
Release/*
Debug/*
x64/*


*.pydevproject
*.project
*.metadata
bin/**
tmp/**
tmp/**/*
doc/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.settings/
*.loadpath
*.classpath
target/*
*.MF

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

*.project
.project
.classpath

#NetBeans
build/
dist/
nbproject/

.idea/*
out/*
*.db
*.iml
main/c/SteamProxy/SteamProxy/x64/Release/CL.read.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/CL.write.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/SteamProxy.lastbuildstate
main/c/SteamProxy/SteamProxy/x64/Release/SteamProxy.log
main/c/SteamProxy/SteamProxy/x64/Release/SteamProxy.write.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/cl.command.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link-cvtres.read.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link-cvtres.write.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link-rc.read.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link-rc.write.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link.command.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link.read.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/link.write.1.tlog
main/c/SteamProxy/SteamProxy/x64/Release/steamproxy.obj
main/c/SteamProxy/x64/Release/SteamProxy.dll
main/c/SteamProxy/SteamProxy/Release/CL.read.1.tlog
main/c/SteamProxy/SteamProxy/Release/CL.write.1.tlog
main/c/SteamProxy/SteamProxy/Release/SteamProxy.lastbuildstate
main/c/SteamProxy/SteamProxy/Release/SteamProxy.log
main/c/SteamProxy/SteamProxy/Release/SteamProxy.write.1.tlog
main/c/SteamProxy/SteamProxy/Release/cl.command.1.tlog
main/c/SteamProxy/SteamProxy/Release/link-cvtres.read.1.tlog
main/c/SteamProxy/SteamProxy/Release/link-cvtres.write.1.tlog
main/c/SteamProxy/SteamProxy/Release/link-rc.read.1.tlog
main/c/SteamProxy/SteamProxy/Release/link-rc.write.1.tlog
main/c/SteamProxy/SteamProxy/Release/link.command.1.tlog
main/c/SteamProxy/SteamProxy/Release/link.read.1.tlog
main/c/SteamProxy/SteamProxy/Release/link.write.1.tlog
main/c/SteamProxy/SteamProxy/Release/steamproxy.obj
main/c/SteamProxy/SteamProxy/SteamProxy.vcxproj
main/c/SteamProxy/Debug/SteamProxy.dll
main/c/SteamProxy/Debug/SteamProxy.ilk
main/c/SteamProxy/Release/SteamProxy.dll
/main/c#/DissonanceLevelEditor/DissonanceLevelEditor/bin
/main/c#/DissonanceLevelEditor/DissonanceLevelEditor/obj
/main/c#/DissonanceLevelEditor/*.suo
